html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0;
  left: 0;
  background-color: #000;
  overflow: hidden;
}

.items-container {
  margin: auto;
  max-width: 1100px;
  width: 100%;
  text-align: center;
  padding: 0 20px;
}

.items-container h2 {
  margin-top: 60px;
  color: #64ccc5;
  text-align: center;
  margin-bottom: 2rem;
}

.card-items{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 20px;
}

.project-card {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  color: #f0f0f0;
  border: 1px solid #64ccc5;
  text-align: left;
  transition: transform 0.3s ease;
}

.project-card h3 {
  margin-bottom: 8px;
  color: #64ccc5;
}

.project-card a {
  color: #00adb5;
  text-decoration: none;
  font-weight: 500;
  text-decoration: underline ;
}

.project-card a:hover {
  text-decoration: none;
}